header{
    /* Estructuramos el encabezado. */
    height: 55px;
    top: 2%;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    margin: 10px;
    border-radius: 40px;
    box-shadow: 2px 2px 25px gray;
    background-color: var(--main-color);
    position: fixed;
    color: var(--secondary-color);
    z-index: 1;
    a {
        text-decoration: none;
        color: currentColor;
        font-weight: bold;
    }
    .name-and-menu {
        display:flex;
        justify-content: space-around;
        text-align: center;
        align-items: center;
        max-width: 1425px;
        height: 55px;
        .name {
           position: relative;
           color: var(--secondary-color); 
           h1{
               &::before{
                top: -25%;
                position: relative;
                transform: translateY(-25%) ;
                display: block;
                content: "Vinnie";
                font-family: "Lobster";
                font-style: normal;
                color: var(--secondary-color);
                }
            }
        }
        .caja-menu {
            display: flex;
            align-items: center;
            ul{
                display: flex;
                gap: 7px;
                width: 100%;
                display: flex;
                left: 50%;
                align-items: center;
                a{
                    max-width: fit-content;
                    &::after{
                        content: "";
                        display: flex;
                        position: relative;
                        bottom: -3px;
                        left: 0px;
                        max-width: 0%;
                        height: 2px;
                        transform-origin: left;
                        background-color: var(--secondary-color);
                        transition: 0.5s ease;
                    }
                    &:hover::after{
                        display: flex;
                        position: relative;
                        max-width: 100%;
                        display: flex;
                    }
                }
                
            }
        }
    .redes-sociales ul {
        align-items: center;
        display: flex;
        position: relative;
        align-items: center;
        top:6px;
    }
    
}
}
