@font-face {
    font-family: 'Lobster';
    src: url('./Fonts/Lobster/Lobster-Regular.ttf') format('truetype')
}
@font-face {
    font-family: "ABC";
    src: url("./Fonts/ABeeZee/ABeeZee-Regular.ttf");
}
body {
    color: black;
    font-family: "ABC";
    font-size: 14px;
    background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../ciudad-bonita-junto-al-mar.jpg");
    background-size: 100%;
    background-attachment: fixed;
}
header {
    height: 55px;
    top: 0;
    width: 100%;
    left: 0;
    background-color: #F2CAA7;
    position: fixed;
    z-index: 1;
}
a {
    text-decoration: none;
    color: currentColor;
    text-shadow: 1px 1px 5px;
}
a:hover {
    color:#D5BA98
}
.name {
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: left;
   top:-6px;
   font-family: "Lobster" , sans-serif;
   color: black; 
}
.name h1{
    width: 120px;
}
.name h1::before{
    content: "Vinnie";
}
.name h1:hover::before{
    content: "Pablo Vasta";
    animation-duration: 1s;
    animation-name: slidein;
}
.name-and-menu {
    display:flex;
    justify-content: space-between;
    max-width: 1425px;
    margin: 0 auto;
}
.background-menu .caja-menu {
    background-color: #F7E7CE;
}
.caja-menu .structure-list{
    max-width: 1425px;
    position: relative;
    top:-6px;
    justify-content: space-between;
    margin: 0 auto;
}
.caja-menu .structure-list ul{
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 15px;
    width: 100%;
    left: 50%;
}
.redes-sociales ul {
    display: flex;
    position: relative;
    top:-6px;
}
main {
    ;

}
.big-name{
    font-family: "Lobster";
    font-size: 178px;
    color: #0E1626;
    padding: 178px;
}
.container-text::after {
    content: "";
    background-image: url(../IMG_3187.jpeg);
    display: inline;
    background-size: 130%;
    background-position-x: -35px;
    background-position-y:-15px ;
    position: static;
    top: 190px;
    border-radius: 50%;
    transform: scale(1);
    left: 1093px;
    height: 250px;
    width: 250px;
    opacity: 0;
}
.container-text:hover::after {
    content: "";
    background-image: url(../IMG_3187.jpeg);
    display: inline;
    background-size: 130%;
    background-position-x: -35px;
    background-position-y:-15px ;
    border-radius: 50%;
    transform: scale(1.25);
    left: 1093px;
    height: 250px;
    width: 250px;
    transition: 1s;
    opacity: 1;
    z-index: 0;
}

.big-name div{
    display: flex;
    justify-content: center;
}
.container-text:before{
    content: "Vinnie";
}
.container-text:hover::before{
    content: "Pablo Vasta";
    position: relative;
    transform: translateX(-20%);
    transition: 0.5s;
}

svg {
    width: 25px;
    height: 25px;
    fill: currentColor;
}
li {
    list-style-type: none;
    margin: 8px;
    font-style: italic;
}
.info {
    box-sizing: 150%;
    display: grid;
    color: black;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
}
.info div {
    box-sizing: content-box;
    box-shadow: 0 0 5px black;
    height: 400px;
    max-width: 700px;
    padding: 50px;
    border-radius: 10px;
    transition: 0.2s;
    margin: 30px;
    font-size: 15px;
    overflow: auto;
    scrollbar-3dlight-color: #D5BA98 ;
}
.acerca-de-mi {
    height: 300px;
}
.info div:hover {
    background-color: #F2CAA7;
    box-shadow: 0 0 5px #F2CAA7;
    color: black;
    margin:20px;
    font-size: 17px ;
    
}

.experiencia {
    overflow:auto ;
}
