@font-face {
    font-family: 'Lobster';
    src: url("../Fonts/Lobster/Lobster-Regular.ttf") format('truetype')
}
@font-face {
    font-family: "Coder";
    src: url("../Source_Code_Pro/SourceCodePro-VariableFont_wght.ttf")
}
@font-face{
    font-family: "Lexend";
    src: url("../Fonts/Lexend_Deca/LexendDeca-VariableFont_wght.ttf")
}
@font-face{
    font-family: "Ubuntu";
    src: url(../Fonts/Ubuntu/Ubuntu-Regular.ttf);
}
@font-face{
    font-family: "Ubuntu Bold";
    src: url(../Fonts/Ubuntu/Ubuntu-Bold.ttf);
}

body {
    color: var(--secondary-color);
    background-color: var(--bg-color);
    font-family: "Ubuntu", sans-serif;
    max-width: 100%;
    margin:0;
    padding:0;
    box-sizing: border-box;
    svg {
        width: 25px;
        height: 25px;
        fill: currentColor;
    }
    li {
        list-style-type: none;
        margin: 8px;
    }
}

@media screen and (max-width: 431px) {
    header {
        display: none;
    }
    main{
        max-width: 100%;
    }
    main .info{
            display: table-row;
            align-content: center;
            div{
                padding-right: 70px;
            }
            #acerca-de-mi{
                left: 10%;
                height: 600px;
                padding-top: 0;
                max-width: 100%;
                padding-right: 5%;
                padding-left: 5%;
                padding-bottom: 5%;
                padding-top: 0.5%;
                margin-bottom: 22vw;
                .content-acerca-de-mi{
                    .paragraph-info{
                        width: 200%;
                        position: relative;
                        right: 100%;
                    }
                }
                .content-acerca-de-mi::before{
                    width:90%;
                    height: 60%;
                    margin-left: 0;
                    left:-113%;
                    transform: translateX(15%);
                    
                }
            }
            #experiencia{
                li{
                    max-width: 100%;
                }
            }
        }
}

:root {
    --main-color:#e9e9e7;
    --secondary-color: #0E1626;
}
