@font-face {
    font-family: 'Lobster';
    src: url("../Fonts/Lobster/Lobster-Regular.ttf") format('truetype')
}
@font-face {
    font-family: "Coder";
    src: url("../Source_Code_Pro/SourceCodePro-VariableFont_wght.ttf")
}
@font-face{
    font-family: "Lexend";
    src: url("../Fonts/Lexend_Deca/LexendDeca-VariableFont_wght.ttf")
}
@font-face{
    font-family: "Ubuntu";
    src: url(../Fonts/Ubuntu/Ubuntu-Regular.ttf);
}
@font-face{
    font-family: "Ubuntu Bold";
    src: url(../Fonts/Ubuntu/Ubuntu-Bold.ttf);
}

body {
    color: var(--secondary-color);
    background-color: var(--bg-color);
    font-family: "Ubuntu", sans-serif;
    svg {
        width: 25px;
        height: 25px;
        fill: currentColor;
    }
    li {
        list-style-type: none;
        margin: 8px;
    }
}

@media (max-width: 431px) {
    header {
        display: none;
    }
    main{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    main .info{
            display: table-row;
            align-content: center;
            div{
                padding-right: 70px;
            }
            #acerca-de-mi{
                left: 10%;
                height: 600px;
                overflow: auto;
                padding-right: 20px;
                .content-acerca-de-mi{
                    p{
                        font-size: 1.15em;
                        margin-bottom: 10px;
                        
                    }
                    .paragraph-info{
                        width: 200%;
                        position: relative;
                        right: 100%;
                    }
                }
                .content-acerca-de-mi::before{
                    width:80%;
                    height: 35%;
                    margin-left: 0;
                    transform: translateX(15%);
                    
                }
            }
        }
}

:root {
    --main-color:#e9e9e7;
    --secondary-color: #0E1626;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}