@font-face {
    font-family: 'Lobster';
    src: url("../Fonts/Lobster/Lobster-Regular.ttf") format('truetype')
}
@font-face {
    font-family: "Coder";
    src: url("../Source_Code_Pro/SourceCodePro-VariableFont_wght.ttf")
}
@font-face{
    font-family: "Lexend";
    src: url("../Fonts/Lexend_Deca/LexendDeca-VariableFont_wght.ttf")
}
@font-face{
    font-family: "Ubuntu";
    src: url(../Fonts/Ubuntu/Ubuntu-Regular.ttf);
}
@font-face{
    font-family: "Ubuntu Bold";
    src: url(../Fonts/Ubuntu/Ubuntu-Bold.ttf);
}
html{
    scroll-behavior: smooth;
}
body {
    color: var(--secondary-color);
    background-color: var(--bg-color);
    font-family: "Ubuntu", sans-serif;
    width: 100vw;
    margin:0;
    padding:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    svg {
        width: 25px;
        height: 25px;
        fill: currentColor;
    }
    li {
        list-style-type: none;
        margin: 8px;
    }
}

@media screen and (max-width: 431px) {
    body{
        font-size: 0.65em;
        header{
            display: none;
        }
        word-spacing: 0.15em;
    }
    main{
        .info div{
            padding-bottom:0px;
            padding-right:0px;
            padding-top:0px;
        }
        .img-and-phrase{
            height: 120vh;
            .hi-coders{
                width: 100%;
                top: 0px;
                ul{
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    li{
                        margin-bottom: 10px;
                        font-size: 1.7em;
                    }
                    
                }
            }
        }
        #acerca-de-mi{
            height: 400px;
            padding-top: 0;
            padding-bottom: 2%;
            max-width: 100%;
            font-size: 1.35em;
            margin-bottom: 25vw;
            .content-acerca-de-mi{
                width: auto;
                .paragraph-info{
                    width: 100%;
                    position: relative;
                }
            }
            .knowledges{
                display: flex;
                flex-direction: column;
                .imgLanguages{
                    img{
                        max-width: 50px;
                        max-height: 50px;
                    }
                }
            }
           
        }
        .container-name{
            margin-bottom: 10px;
        }
        #experiencia{
            .container-experience{
                max-width: 100vw;
                gap: 5px;
                height: auto;
                div{
                    padding-left: 10px;
                    &:first-child{
                        padding-left: 0px;
                    }
                }
            }  
            
        }
        #educacion{
            h3{
                position: relative;
                top: -30px;
            }
            .container-education{
                line-height: 1;
                .title-and-info-education{
                    margin-bottom: 40px;
                    height: 5%;
                    justify-content: left;

                    li{ 
                        line-height: 1.5;
                        width: auto;
                        flex-direction: column;
                        p{
                            &:first-child{
                                justify-content: center;
                                font-family: "Ubuntu Bold";
                                font-size: 1.65em;
                            }
                        }
                    }
                }
            }
        }
        #idiomas{
            font-size: 0.5em;
            height: 10%;
            position: relative;
            right: -50%;
            box-shadow: 2px 2px 15px gray;
            display: flex;
            align-content: center;
            flex-direction: column;
            border-radius: 9px;
            transform: translateX(-50%);
            background-color: var(--main-color);
            width: 40vw;
            .contain{
                position: relative;
                display: flex;
                flex-direction: column;
                align-content: center;
                .contain-english{
                    display: flex;
                    justify-content: space-evenly;
                    font-size: 10px;
                    img{
                        width: 20%;
                        height: auto;
                        align-self: center;

                    }
                }
                .contain-italiano{
                    display: flex;
                    justify-content: space-evenly;
                    font-size: 10px;
                    img{
                        width: 10%;
                        height: auto;
                        align-self: center;

                    }
                }
            }
        }
    }
    /* body{
        width: 100vw;
        header {
            display: none;
        }
        main{
            width: 100%;
        }
        main .img-and-phrase{
            
    
        }
        main .info{
                bottom: -200vh;
                display: table-row;
                align-content: center;
                div{
                    padding-right: 70px;
                }
                #acerca-de-mi{
                    left: 10%;
                    height: 600px;
                    padding-top: 0;
                    max-width: 100%;
                    padding-right: 5%;
                    padding-left: 5%;
                    padding-bottom: 5%;
                    padding-top: 0.5%;
                    margin-bottom: 22vw;
                    .content-acerca-de-mi{
                        .paragraph-info{
                            width: 100%;
                            position: relative;
                            right: 100%;
                        }
                        p{
                            font-size: 1.15em;
                            margin: auto;
                        }
                        &::before{
                            width:90%;
                            height: 60%;
                            margin-left: 0;
                            left:-113%;
                            transform: translateX(15%);
                            
                        }
                    }
                   
                }
                #experiencia{
                    
                    li{
                        max-width: 100%;
                    }
                }
                #educacion{
                    h3{
                        position: relative;
                        top: -30px;
                    }
                    .container-education{
                        line-height: 1.5;
                        .title-and-info-education{
                            margin-bottom: 40px;
                            height: 5%;
    
                            li{ 
                                width: auto;
                                align-items: center;
                                display: block;
                                justify-content: space-between;
                                p{
                                    font-size: 1.5em;
                                    &:first-child{
                                        font-family: "Ubuntu Bold";
                                        font-size: 1.65em;
                                    }
                                }
                            }
                        }
                    }
                }
                #idiomas{
                    .contain{
                        position: relative;
                        line-height: 5;
                        top: 50%;
                        transform: translateY(-50%);
                        .contain-english, .contain-italiano{
                            justify-content: center;
                            gap: 50px;
                            display: flex;
                    }
                }
            }
        }
    }
    footer{
        max-width: 100%;
        bottom:-200vh;
    }
    /*  */
    }
:root {
    --main-color:#e9e9e7;
    --secondary-color: #0E1626;
}
